.nav-bar{
    margin: 20px 170px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.nav-logo img{
    width: 200px;
    height: 70px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-contact{
    padding: 10px 20px;
    border-radius: 50px;
    /* background: linear-gradient(267deg, #FFA07A 0.36%, #FF4500 102.06%); */
    background: linear-gradient(267deg, #FF6B6B 0.36%, #C70039 102.06%);



    font-size: 22px;
    cursor: pointer;  
    transition: 0.5s;
}
.nav-contact:hover{
    transform: scale(1.05);
}