.hero {
    position: relative; /* Ensures child elements can be positioned absolutely within this container */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    margin: 0px 100px;
    /* margin: 0 200px; */
}

.hero img {
    width: 1300px;
    height: 600px; /* Adjust the width as needed */
    border: none;
}

.hero h1{
    position: absolute; /* Allows the h1 to overlay on the image */
    right: 55%;
    top: 30%;
    transform: translate(-50%, -50%); /* Center the h1 horizontally and vertically */
    font-size: 80px;
    font-weight: 600;
    color: whitesmoke; /* Optional, add contrast if needed */
}
.hero h6{
    position: absolute; /* Allows the h1 to overlay on the image */
    right: 80%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

