.hero {
    position: relative; /* Ensures child elements can be positioned absolutely within this container */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    margin: 0px 100px;
    /* margin: 0 200px; */
}

.hero img {
    width: 1300px;
    height: 600px; /* Adjust the width as needed */
    border: none;
}

.hero h1 {
    position: absolute;
    right: 55%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 600;
    color: whitesmoke; /* Initial color */
    transition: color 0.3s ease; /* Smooth transition for color */
}

.hero h1:hover {
    color: black; /* Change to any color you like on hover */
}

.hero h6{
    position: absolute; /* Allows the h1 to overlay on the image */
    right: 80%;
    top: 70%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    transition: color 0.3s ease;
}
.hero h6:hover {
    color: black; /* Change to any color you like on hover */
}


